/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header{
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    height: 175px;
}

.sfondo-titolo{
    height: 100%;
    width: 25%;
    padding-top: 30px; /*Per spostare il logo più in basso */
}

p{
    margin: 0;
    padding: 0;
}

main h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

main > p{
    font-size: 20px;
    padding: 0;
    color: #808080;
}

.dettagli{
    font-weight: bold;
}

.data{
    font-size: 15px;
    margin-bottom: 20px;
}

.autore-post{
    color: #36b1e7;
}

.descrizione{
    margin-top: 30px;
    font-size: 20px;
}

.sottolineatura{
    background-color: yellow;
}